version: '3.8'

services:
  site:
    build: .
    ports:
      - "3000:80"
    restart: always

  worker:
    build: ./worker
    restart: always
    environment:
      - TZ=America/Sao_Paulo
    env_file:
      - ./.env
    depends_on:
      - site
